<h1><%= @trick.name %></h1>
<ul>
  <li><strong>Discoverer:</strong> <%= @trick.discoverer %></li>
  <li><strong>Game Version:</strong> <%= @trick.game_version %></li>
  <li><strong>Platform:</strong> <%= @trick.platform %></li>
  <li><strong>Description:</strong></li>
  <li><%= @trick.description %></li>
</ul>