<h1><%= @skip.name %></h1>
<ul>
  <li><strong>Discoverer:</strong> <%= @skip.discoverer %></li>
  <li><strong>Game:</strong> <%= @skip.game.name %></li>
  <li><strong>Platform:</strong> <%= @skip.platform %></li>
  <li><strong>Game Version:</strong> <%= @skip.game_version %></li>
  <li><strong>Level:</strong> <%= @skip.level.name %></li>
  <li><strong>Description:</strong></li>
  <li><%= markdown(@skip.description) %></li>
</ul>