<%= simple_form_for [:admin, skip] do |f| %>
  <%= f.input :name %>
  <%= f.input :discoverer %>
  <%= f.input :platform %>
  <%= f.input :game_version %>
  <div class="field">
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
  </div>
  <%= f.association :game %>
  <%= f.association :level %>
  <%= f.submit %>
<% end %>