<%= simple_form_for [:admin, game] do |f| %>
  <%= f.input :name %>
  <%= f.input :platform %>
  <div class="field">
    <%= f.label :overview %>
    <%= f.rich_text_area :overview %>
  </div>
  <%= f.input :release_date %>
  <%= f.association :series %>
  <div>
    <%= f.simple_fields_for :game_tricks do |game_trick| %>
      <%= render 'game_trick_fields', f: game_trick %>
    <% end %>
  </div>
  <div><%= link_to_add_association 'Add Trick', f, :game_tricks %></div>
  <%= f.submit %>
<% end %>