<h1><%= @game.name %></h1>
<ul>
  <li><strong>Series:</strong> <%= @game.series.name %></li>
  <li><strong>Release Date:</strong> <%= @game.release_date %></li>
  <li><strong>Platform:</strong> <%= @game.platform %></li>
  <li><strong>Overview:</strong></li>
  <li><%= @game.overview %></li>
</ul>
<strong>Associated Categories:</strong>
<ul>
  <% @game.categories.each do |category| %>
    <li><%= link_to category.name, [:admin, category] %></li>
  <% end %>
</ul>
<strong>Associated Tricks:</strong>
<ul>
    <% @game.tricks.each do |trick| %>
      <li><%= link_to trick.name, [:admin, trick] %></li>
    <% end %>
</ul>
<ul>
  <li><%= link_to "Edit", edit_admin_game_path(@game) %></li>
  <li><%= link_to "Destroy", admin_game_url(@game),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>