<h1><%= @game.name %></h1>
<ul>
  <li><strong>Series:</strong> <%= @game.series.name %></li>
  <li><strong>Release Date:</strong> <%= @game.release_date %></li>
  <li><strong>Platform:</strong> <%= @game.platform %></li>
  <li><strong>Overview:</strong></li>
  <li><%= @game.overview %></li>
</ul>

<ul>
  <li><%= link_to "Edit", edit_admin_game_path(@game) %></li>
  <li><%= link_to "Destroy", admin_game_url(@game),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>