<%= simple_form_for [:admin, guide] do |f| %>
  <%= f.input :name %>
  <%= f.input :game_version %>
  <%= f.input :revision %>
  <%= f.input :creator %>
  <%= f.association :game %>
  <%= f.association :category %>
  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>
  <%= f.submit %>
<% end %>