<h1><%= @trick.name %></h1>
<ul>
  <li><strong>Discoverer:</strong> <%= @trick.discoverer %></li>
  <li><strong>Game Version:</strong> <%= @trick.game_version %></li>
  <li><strong>Platform:</strong> <%= @trick.platform %></li>
  <li><strong>Description:</strong></li>
  <li><%= @trick.description %></p></li>
</ul>
<ul>
  <li><%= link_to "Edit", edit_admin_trick_path(@trick) %></li>
  <li><%= link_to "Destroy", admin_trick_url(@trick),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>