<%= simple_form_for [:admin, resource] do |f| %>
  <%= f.input :name %>
  <%= f.input :link %>
  <div class="field">
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
  </div>
  <%= f.submit %>
<% end %>