<h1><%= @category.name %></h1>
<ul>
  <li><strong>Game:</strong> <%= @category.game.name %></li>
  <li><strong>Platform:</strong> <%= @category.platform %></li>
  <li><strong>Overview:</strong> <%= @category.overview %></li>
  <li><strong>Rules:</strong></li>
  <li><%= @category.rules %></p></li>
</ul>
<ul>
  <li><%= link_to "Edit", edit_admin_category_path(@category) %></li>
  <li><%= link_to "Destroy", admin_category_url(@category),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>