<h1><%= @category.name %></h1>
<ul>
  <li><strong>Game:</strong> <%= @category.game.name %></li>
  <li><strong>Platform:</strong> <%= @category.platform %></li>
  <li><strong>Overview:</strong> <%= @category.overview %></li>
  <li><strong>Rules:</strong></li>
  <li><%= @category.rules %></li>
</ul>