<h1><%= @category.name %></h1>
<ul>
  <li><strong>Game:</strong> <%= @category.game.name %></li>
  <li><strong>Platform:</strong> <%= @category.platform %></li>
  <li><strong>Overview:</strong> <%= markdown(@category.overview) %></li>
  <li><strong>Rules:</strong></li>
  <li><%= markdown(@category.rules) %></li>
</ul>
<strong>Category Guides:</strong>
<ul>
  <% @category.guides.each do |guide| %>
    <li><%= link_to guide.name, guide_path(guide.id) %></li>
  <% end %>
</ul>