<h1><%= @guide.name %></h1>
<ul>
  <li><strong>Game:</strong> <%= @guide.game.name %></li>
  <li><strong>Category:</strong> <%= @guide.category.name %></li>
  <li><strong>Game Version:</strong> <%= @guide.game_version %></li>
  <li><strong>Revision:</strong> <%= @guide.revision %></li>
  <li><strong>Creator:</strong> <%= @guide.creator %></li>
  <li><strong>Guide:</strong></li>
  <li><%= @guide.content %></li>
</ul>